.filters {
	padding-top: 2px;
	margin-left: 30px;
}
.clear-completed {
	position: relative	;
	top : -10px;
}

.filters li button {
	color: inherit;
	margin: 3px;
	padding: 3px 7px;
	text-decoration: none;
	border: 1px solid transparent;
	border-radius: 3px;
}

.filters li button:hover {
	border-color: #DB7676;
}

.filters li button.selected {
	border-color: #CE4646;
}

.cancel {
	background-color: #eba7a7;
}

.cancel:hover {
	background-color: #e57373;
}
